:root {
  // width
  --am-sidebar-wdith: 200px;

  // height
  --am-header-height: 50px;

  // margin
  --am-margin-s: 10px;
  --am-margin-m: 20px;
  --am-margin-l: 40px;
  --am-padding-s: var(--am-margin-s);
  --am-padding-m: var(--am-margin-m);
  --am-padding-l: var(--am-margin-l);

  // color
  --am-text-color: #222;
  --am-color-black: #222;
  --am-primary-color: #409eff;

  // background
  --am-bg-color: #ffffff;
  --am-bg-color-hover: #ededed;
  --am-bg-gray: #ddd;

  //border
  --am-border: 1px solid #eeeeee;
  --am-border-corner-s: 2px;
  --am-border-corner-m: 4px;
  --am-border-corner-l: 8px;

  // transtion
  --am-transtion-duration: 0.25s;
  --am-transtion: all var(--am-transtion-duration) ease-in-out;

  // z-index
  --am-header-z-index: 11;
}
